/*
* Author: Duy Phuong Nguyen
* Purpose: CSS file for final exam
* Created: 17/06/2020
* Last updated: 17/06/2020
*/

/*              Common element of the website               */
/*delete the blank space of website layout*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*doesnt change color when the link is clicked*/
a {
    color: inherit;
}
/*implement background image*/
body{
    background-image: url("images/homepage.jpg");
    background-size: cover;
}

.content {
    background: #cdcbd4;
    width: 100%;
    padding: 40px 100px 40px 100px;
    margin: 0px auto auto;
}

/*CSS for button in the website, darkred color with neon shadow*/
.button{
    background-color:darkred;
    color: lightgray;
    padding:10px 30px;
    border: none;
    border-radius: 6px;
    text-decoration:none;

    margin-right: 20px;
    text-transform: uppercase;
    overflow: hidden;
    font-size: 1em;
    text-align: center;
}
.button:hover{
    text-decoration:none;
    color: #FF0000 ;
    background-color:darkred;
    box-shadow: 0 0 10px #FF0000 , 0 0 40px #FF0000 , 0 0 80px #FF0000;         /*function used to glow up the botton*/
    transition: 0.4s;
    cursor: pointer;

}



/*                  menu css                    */

.logo{              /*logo of the website*/
	float: left;
    margin-left: 15px;
   margin-top: 5px;
}
nav {           /*markup for the menu/navigation */
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    margin: 0px;
}
nav ul {
    list-style: none;
    margin: 0px;
    line-height: 90px;
}
nav ul li {
    display: inline;
    margin-left: 10%;
}
nav ul li a {
    text-decoration: none;
    color: red;
    font-size: 1.8em;
}
nav ul li a:hover {         /*Hover to change color when user move mouse over*/
    color: #f78730;
}
nav ul li.active a {
    color: #f78730;
}

/*                  index.php                 */
 /*welcome box of the website, centre of page, background color*/
#welcome{              
    width: 40%;
    position: relative;
    left: 30%;
    right: 30%;
    top: 30%;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    padding: 30px;
    margin-top: 2%;
    margin-bottom: 2%;
    color: lightgray;
    font-size: large;
}
#welcome h1{        /*change the header1's color, size in the welcome box*/
    font-size: 2.2em;
    color: red;
    margin-bottom: 0px;
}

/*Shadowstyle for the seminar's title*/
.seminar h2{
    color: red;
    text-shadow: 2px 2px 8px #f78730;
}
/*implement background image for two seminar sections*/
#seminar_1{
    background-image: url("../images/business.jpg");
    background-size: cover;
    height: 350px;
    padding: 5%;
}
#seminar_2{
    background-image: url("../images/engineering.jpg");
    background-size: cover;
    height: 350px;
    padding: 5%;
}
/*float 2 parts of seminar*/
#seminar_11, #seminar_21{
    width: 35%;
    clear: both;
    float: left;        /*first part float to the left with title, ref num, date*/
    padding: 2%;
    color: lightgray;
    background-color: black;
    opacity: 0.8;
    border-radius: 10px;
}
#seminar_12, #seminar_22{
    width: 50%;
    background-color: #cdcbd4;
    opacity: 0.8;
    float: right;       /*second part float to the right with description*/
    padding: 2%;
    border-radius: 10px;
}

/*addtion requirement for index.php:        element selector
It selects section element. 2 seminar sections have the same border style color*/
#homepage_seminar section{
    border: 3px groove red;
}




/*                  register.php                  */

.enquire_form{
    width:80%;
    margin: auto;
    border: 0;
}
/*move the submit button in register page to the middle*/
#submit_button{
    text-align: center;
}
.enquire_form legend{
    margin-left: 10%;
    font-weight: bold;
    font-size: 1.5em;
    color: darkred;
}
/*change the input layout*/
input[type=text], input[type=email],select,textarea {
    margin: 6px 0 20px 20px;
    padding:10px;
    border:1px solid black;
    border-radius:6px;
    background-color: white;
    color:black;
   }
input[type=radio] {
    margin-left: 20px;
}


/*                  mangaer.php                 */
.managerTable
{
    margin: auto;
    margin-top: 2%;
    width: 80%;
    padding: 4px;
    background-color: lightgray;
}
/*create border for elements of table*/
.managerTable th, td
{
    padding: 6px;
    border: 2px solid black;

}
/*give the header of table different color background*/
.managerTable th
{
    background-color: gray;
    color: darkred;
    
}
.managerTable td
{
    border-top: none;
}
.manager
{
    margin: auto;

}







/*                  footer css              */
/*footer algin to the centre with small text size*/
footer{
    background-color: rgba(0,0,0,0.8);
    text-align: center;
    color: red;
    padding: 1em 0;
    font-size: small;
    border-top: 4px solid #f78730;
    text-decoration: none;
}